[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/ahmad/Desktop/Python Full Course for free 🐍 (2024).mp4]
row=5
col=0

[/home/ahmad/Desktop/01 - C Data Structures and Algorithms]
row=0
col=1

[/home/ahmad/Desktop/Stock market course - Lecture 5.mp4]
row=2
col=1

[/home/ahmad/Desktop/Cybersecurity]
row=3
col=1

[/home/ahmad/Desktop/Backend Engineering]
row=1
col=1

[723E8FB83E8F73BF]
row=1
col=0

[58CA9BBCCA9B94BA]
row=0
col=0

[Trash]
row=2
col=0

[/]
row=3
col=0

[/home/ahmad]
row=4
col=0

